.search-input-default {
  height: 62px;
  position: relative;
  width: 472px;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  border: none;
  border-bottom: solid #000000 3px;
  background-color: #FFF;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--black);
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 32px;
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  opacity: 0.4;
  position: absolute;
  top: 17px;
  background-color: #FFF;
}

input::-webkit-search-cancel-button {
  position: relative;
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background-image: url("/assets/cancel.png");
}