.logo-a {
  display: flex;
  width: 570px;
  height: 216px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-image: url("/assets/logo-l.png");
  background-size: cover;
}

@media (max-width: 640px) {
  .logo-a {
    width: 320px;
    height: 120px;
  }
}
