.component {
  width: 68px;
  height: 68px;
  border-radius: 16px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.component.search-default {
  background-color: #000000;
}

.component.search-hover {
  background-color: #5755D5;
}

.component .union {
  width: 36px;
  height: 36px;
  margin: auto;
  background-image: url("/assets/icn-search-36dp.svg");
}

@media (max-width: 640px) {
  .component {
    width: 34px;
    height: 34px;
    border-radius: 8px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
  }

  .component .union {
    width: 18px;
    height: 18px;
    background-image: url("/assets/icn-search-36dp.svg");
    background-size: cover;
  }
}