.button-search {
  width: 68px;
  height: 68px;
  border-radius: 16px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  background-color: #000000;
  border-style: none;
}

@media (hover: hover) {
  .button-search:hover {
    background-color: #5755D5;
  }
}

@media (hover: none) {
  .button-search:active {
    background-color: #5755D5;
  }
}

.button-search .union {
  width: 36px;
  height: 36px;
  background-image: url("/assets/icn-search-36dp.svg");
  margin: auto;
  background-size: cover;
}

@media (max-width: 640px) {
  .button-search {
    width: 48px;
    height: 48px;
    border-radius: 11.29px;
  }

  .button-search .union {
    width: 24px;
    height: 24px;
  }
}