.search-input {
  height: 62px;
  position: relative;
  width: 472px;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  border: none;
  border-bottom: solid #000000 2px;
  background-color: transparent;
  appearance: none;
  border-radius: 0;
}

.search-input:focus {
  outline: none;
}

.search-input:focus::-webkit-input-placeholder {
  color: transparent;
}

.search-input:focus::-moz-placeholder {
  color: transparent;
}

.search-input:focus:-ms-input-placeholder {
  color: transparent;
}

.search-input:focus::-ms-input-placeholder {
  color: transparent;
}

.search-input::placeholder {
  color: var(--black);
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 32px;
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  opacity: 0.4;
  position: absolute;
  top: 17px;
  background-color: transparent;
  user-select: none;
}

.search-input::-webkit-search-cancel-button {
  position: relative;
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background-image: url("/assets/icn-erase-24dp.svg");
}

@media (max-width: 640px) {
  .search-input {
    height: 31px;
    width: 236px;
    font-size: 10px;
    border-bottom: solid #000000 1px;
  }

  .search-input::placeholder {
    font-size: 10px;
    font-weight: 400;
    height: 16px;
    line-height: 16px;
    top: 8px;
  }

  .search-input::-webkit-search-cancel-button {
    height: 12px;
    width: 12px;
    border-radius: 6px;
  }
}