.mainpage {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.mainpage .main-logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 208px;
}

.mainpage .search-section {
  height: 130px;
  width: 570px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.mainpage .search-button {
  left: 502px;
  position: absolute;
  top: 0;
}

.mainpage .search-input {
  left: 0;
  position: absolute;
  top: 0;
}

.mainpage .search-section .chip-section {
  position: absolute;
  top: 88px;
  width: auto;
  gap: 12px;
  display: flex;
  flex-direction: row;
}

@media (max-width: 640px) {
  .mainpage {
    gap: 15px;
  }
  
  .mainpage .main-logo {
    margin-top: 104px;
  }
  
  .mainpage .search-section {
    height: 65px;
    width: 285px;
  }
  
  .mainpage .search-button {
    left: 251px;
  }
  
  .mainpage .search-section .chip-section {
    top: 44px;
    gap: 6px;
  }
}