.page-layout {
  position: relative;
}

.page-layout .pavicon {
  top: 60px;
  left: 60px;
  position: absolute;
  z-index: 10;
}

@media (max-width: 640px) {
  .page-layout .pavicon {
    top: 32px;
    left: 16px;
    position: absolute;
    z-index: 10;
  }
}