.page-layout {
  position: relative;
}

.page-layout .pavicon {
  top: 60px;
  left: 60px;
  position: absolute;
  z-index: 10;
}

@media (max-width: 640px) {
  .page-layout .pavicon {
    top: 62px;
    left: 20px;
    position: absolute;
    z-index: 10;
  }
}