.btn-chip {
  align-items: center;
  border-radius: 16px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  padding: 12px 16px;
  position: relative;
  cursor: pointer;
  background-color: #f1f1ff;
}

.btn-chip .text-wrapper {
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
  color: #434154;
}

.btn-chip:active {
  background-color: #5754d4;
}

.btn-chip:active .text-wrapper {
  color: #ffffff;
}

@media (hover: hover) {
  .btn-chip:hover {
    background-color: #dcdbff;
  }

  .btn-chip:hover .text-wrapper {
    color: #434154;
  }
}

@media (max-width: 640px) {
  .btn-chip {
    border-radius: 8px;
    gap: 5px;
    padding: 6px 8px;
  }

  .btn-chip .text-wrapper {
    font-size: 8px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 9px;
    margin-top: -1px;
  }
}