.small-logo-a {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12px;
  cursor: pointer;
  background-image: url("/assets/pavicon-default-l.png");
  background-size: cover;
}

@media (hover: hover) {
  .small-logo-a:hover {
    background-image: url("/assets/pavicon-hover-l.png");
  }
}

@media (hover: none) {
  .small-logo-a:active {
    background-image: url("/assets/pavicon-hover-l.png");
  }
}

@media (max-width: 640px) {
  .small-logo-a {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-image: url("/assets/pavicon-default-l.png");
  }

  @media (hover: hover) {
    .small-logo-a:hover {
      background-image: url("/assets/pavicon-hover-l.png");
    }
  }

  @media (hover: none) {
    .small-logo-a:active {
      background-image: url("/assets/pavicon-hover-l.png");
    }
  }
}